#category {
  
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#info {
  color: white;
  background-color: #789cd6;
  border-radius: 2px;
  font-size: 24px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 2px;
}

.flex-container>a {
  text-decoration: none;
  color: white;
  background-color: #789cd6;
  border-radius: 2px;
  width: 200px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  padding: 5px;
}

.flex-container>a:hover{
  background-color: turquoise;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.trail {
  float: left;
}

button {
  color: white;
  background-color: royalblue; 
  border-width: 0px;
  border-radius: 2px;
  font-size: 24px; 
}

button:hover{
  background-color: turquoise;
}


#header {
  display: flex;
  flex-wrap: wrap;
}

#header > a {
  background-color: #789cd6;
  width: 100px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  text-decoration: none;
}

#header > a:hover {
  background-color: turquoise;
}

.category {
  background-color: ;
}

.question {
  background-color: ;
}

.advice {
  background-color: ;
}

.action {
  background-color: ;
}

.anwser {
  background-color: ;
}


#motm {
  text-align: center;
  
}